.form-group {
  height: 80px;
}

.input-group {
  height: 35px;
}

input::placeholder {
  color: #ccc !important;
}

.form-control.is-valid,
.form-control.is-invalid {
  background-image: none;
  padding-right: inherit;
}